<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جامعة تشرين كلية الهندسة الكهربائية والالكترونية</title>
    <link rel="stylesheet" href="static/CSS/style.css">
    <link rel="stylesheet" href="static/CSS/bootstrap.css">
    <link rel="icon" href="static/icon/tt.ico">
</head>
<body>
    <section class="home" id="home">
        <nav>
            <h1>كلية الهندسة الكهربائية والالكترونية</h1>    
    <ul>
        <li><a href="/contact" target="_blank">تواصل معنا</a></li>
        <li><a href="/result" target="blank">علامات</a></li>
        <li><a href="#home" target="blank">أسماء المواد</a></li>
    
    </ul>
        </nav>
        <div class="content">
            <div class="container-text">
                <h2>مرحباً بك</h2>
            </div>
            <div class="container-image">
                <img src="{{user_image}}" alt="" class="shape">
            </div>
        </div>
    </section>
    
</body>
</html>